[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteEchoService
Exec=/home/igarashi/cortina/build_dir/target-arm_uClibc-0.9.32_eabi/dbus-1.2.4.6permissive/test/test-service
User=anyrandomuser

